<!--저는 베이스 부모를 상속받았어요-->
{% extends 'base.html' %}

<!--static 폴더에 있는 리소스 로드-->
{% load static %}
<!--타이틀-->
{% block title %} Hello Home {% endblock %}
<!--바디 헤더 영역: 네비 바-->
{% block header %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/happy.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-11 mx-auto">
          <div class="site-heading">
            <h1>Hello HAPPY Blog</h1>
            <span class="subheading">I LOVE U</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

<!--바디 컨텐트 영역: 본문-->
{% block content %}
<iframe width="1500" height="500" src="https://www.youtube.com/embed/8ly380L4CDM?start=16?amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
  자유롭게 피어나기. 이것이 내가 내린 성공의 정의다.
  To freely bloom - that is my definition of success.

{% endblock %}

<!--바디 풋터 영역-->

{% block footer %}


{% endblock %}

{% block extra-script %}


{% endblock %}